@page
@model HrManagement.WebApplication.Pages.AccessDeniedModel
@{
}
<h1 class="text-danger">Acesso Negado!</h1>
<h3><strong>Você não possui credenciais necessária para acessar esta àrea. Caso necessite solicite ao administrador do sistema!</strong></h3>
<a class="btn btn-primary" asp-page="/Home">Clique aqui para retorna a home page!</a>
