@page "/login/recoverpassword"
@model HrManagement.WebApplication.Pages.Login.RecoverPasswordModel
@{
    ViewData["Title"] = "Recuperar senha";
}

<div asp-validation-summary="ModelOnly" class="text-center alert alert-danger"></div>
<div class="row d-flex justify-content-center" style="margin-top:50px">
    <div class="col-md-4">
        <div class="card text-white bg-dark" style="width: 25rem">
            <div class="card-header">
                <h2 class="card-title">Recuperar senha</h2>
            </div>
            <div class="card-body align-cent">
                <form method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input asp-for="Model.Email" autofocus="autofocus" class="form-control" />
                        <span asp-validation-for="Model.Email" class="text-info"></span>
                    </div>
                    <div class="form-group" style="margin-top:15px">
                        <input type="submit" name="Login" value="Enviar" class="btn btn-outline-info float-end">
                        <a class="btn btn-outline-light float-end" style="margin-right: 10px" asp-area="login" asp-page="/login/login">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
